.cart {
  overflow-x: hidden;
  .top {
    display: flex;
    justify-content: space-between;
    padding: 20rpx;
    div {
      padding-left: 15rpx;
      display: flex;
      align-items: center;
      font-size: 25rpx;
      color: #666;
    }
  }
  .cartlist {
    background: #fff;
    margin-bottom: 110rpx;
    .item {
      padding: 20rpx 0;
      height: 104rpx;
      position: relative;
      .con {
        display: flex;
        align-items: center;
        justify-content: space-between;
        transition: all 300ms ease;
        .left {
          display: flex;
          align-items: center;
          width: 80%;
          .icon {
            height: 125rpx;
            width: 34rpx;
            margin: 0 20rpx;
          }
          .img {
            height: 125rpx;
            width: 125rpx;
            display: block;
            background: #f4f4f4;
            img {
              width: 100%;
              height: 100%;
            }
          }
          .info {
            width: 50%;
            padding: 20rpx;
            p {
              line-height: 40rpx;
            }
          }
        }
        .right {
          padding-right: 50rpx;
        }
      }
      .delete {
        position: absolute;
        width: 100rpx;
        top: 0;
        right: -100rpx;
        text-align: center;
        height: 100%;
        background: #3F8ECA;
        color: #fff;
        transition: all 200ms ease;
        display: flex;
        align-items: center;
        justify-content: center;
        div {
          color: #fff;
        }
      }
    }
    padding:20rpx;
    box-sizing: border-box;
  }
  .fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 100rpx;
    line-height: 100rpx;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    .left {
      display: flex;
      align-items: center;
      padding-left: 70rpx;
      color:red;
      font-weight: bold;
    }

    .right {
      display: flex;
      button:nth-child(1) {
        width: 200rpx;
        height: 100rpx;
        text-align: center;
        line-height: 100rpx;
        font-size: 29rpx;
        background: #3F8ECA;
        color: #fff;
      }
    }
  }
  .nogoods {
    margin-top: 200rpx;
    img {
      margin: 0 auto;
      display: block;
      width: 258rpx;
      height: 258rpx;
    }
  }
}
.nowaddress{
  padding: 10rpx;
  display: flex;
  .img-left{
    flex-grow: 0;
    width: 100rpx;
    padding: 20rpx;
    box-sizing: border-box;
  }
  .main-address{
    flex-grow: 1;
    .address{
      font-weight: bold;
      font-size: 30rpx;
    }
    .userinfo{
      font-size: 30rpx;
    }
  }
  .img-left image{
    width:100%;
    height:100%;
  }
  .remark{
    border: 1px black solid;
  }
}
.pclass{
  color: #3F8ECA;
  font-size: 40rpx;
  margin-top: 30rpx;
}
.remark{
  border: 1px #eaeaea solid;
  width:100%;
  height:200rpx
}
.imgicon{
  width:40rpx;
  height:40rpx;
}
