.mainimg{
  width:100%;
  height:400rpx;
}
.title{
  font-size: 60rpx;
  font-weight: bold;
}
.maintext{
  margin:35rpx;
  margin-bottom:120rpx;
  position: relative;
}
.sale{
  font-size: 30rpx;
  color:gray;
}
.money{
  font-size: 40rpx;
  font-weight: bold;
  color:red;
}
.bottom{
  position:absolute;
  bottom:0;
  width:100%;
  height:100rpx;
  background-color: #3F8ECA;
}
.buybtn{
  background-color: #3F8ECA;
  color:white;
  border: none;
}
.detail{
  text-indent:50rpx
}
.slide-image{
  width:100%;
}
